* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* ==============================
patron de colores 
================================*/


/* para movil minimo 15px. Fuenta base*/

html {
    font-size: 15px;
}

body {
    font-family: "Open Sans", "sans-serif";
}

.bienvenidos {
    background-image: url("../images/fondo.jpg");
    color: #fff;
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bienvenidos2 {
    background-image: url("../images/fondo.jpg");
    color: #fff;
    background-size: cover;
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.encabezado {
    background: #fff;
    color: #111111;
    padding: 0.5rem 0;
}

.logo {
    padding-top: 10px;
    height: 80px;
}


/* estilos para boton:buscar y menu */

.boton-buscar,
.boton-menu {
    color: #111111;
    background: transparent;
    border: 0;
    /* tamano */
    font-size: 2rem;
    padding: 0.5rem;
}


/* desaparezca el foco */

.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}

.boton-buscar {
    margin-left: auto;
    margin-right: 0.5rem;
}


/*====================== 
estilos boque busccar 
=======================*/

#bloque-buscar {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.contenedor-bloque-buscar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}

.contenedor-bloque-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.contenedor-bloque-buscar input[type="submit"] {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: #00393b;
    color: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 1rem;
}

#menu-principal {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

#menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}

#menu-principal ul a {
    display: block;
    padding: 0.8rem 0;
    text-align: center;
    color: #00393b;
    text-transform: uppercase;
    border-top: 1px solid #867d7d;
    text-decoration: none;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a {
    color: #00393b;
}

.texto-encabezado {
    text-align: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-primary {
    color: #fff;
    background-color: #00393b;
    border-color: transparent;
    margin-top: 1rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #99cc33;
    border-color: transparent;
}

.texto-encabezado .display-4 {
    margin-top: 6rem;
}

.flecha-bajar {
    /* display: inline-block; */
    text-align: center;
    font-size: 4rem;
    -webkit-animation: fecha-animado 2s ease-in-out infinite;
    animation: fecha-animado 2s ease-in-out infinite;
}

.flecha-bajar a {
    color: #fff;
}

@-webkit-keyframes fecha-animado {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fecha-animado {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


/*=======================================
SECCION
========================================*/

.agencia {
    background: #00393b;
    color: #fff;
}


/*=======================================
SECCION
========================================*/

.somos-tu-mejor-eleccion h2 span {
    color: #00393b;
}

.somos-tu-mejor-eleccion ul li {
    list-style: none;
    min-height: 9rem;
}

.somos-tu-mejor-eleccion .svg-inline--fa {
    font-size: 1rem;
    border-radius: 50%;
    background: #00393b;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    padding: 1rem;
    color: #fff;
    margin-top: 1rem;
}

.somos-tu-mejor-eleccion ul li .contenedor-eleccion h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: .8rem;
}


/*=======================================
SECCION
========================================*/

.servicios img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    overflow: hidden;
    margin-right: 1rem;
}

.servicios h2 {
    color: #fff;
}

.servicios {
    background: url("../images/fondo.jpg") no-repeat center;
    background-size: cover;
}

.servicios img {
    font-size: 1rem;
    border-radius: 50%;
    background: #00393b;
    width: 5rem;
    height: 5rem;
    padding: .5rem;
    color: #fff;
}

.servicios article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 0;
}

.servicios h3 {
    font-size: 1.6rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.servicios h3 a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.servicios h3 a::after {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 2.5rem;
    margin-left: 1rem;
    opacity: .5;
    position: relative;
    left: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.servicios h3 a:hover::after {
    left: -1rem;
    opacity: .5rem;
    color: #00393b;
}


/*=======================================
SECCION PIE DE PAGINA
========================================*/

.piedepagina {
    background: #111111;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

.piedepagina .redesSociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
}

.piedepagina .redesSociales a {
    color: #fff;
    font-size: 1rem;
    margin: 0 .5rem;
    opacity: .7;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.piedepagina .redesSociales a:hover {
    color: #fff;
    font-size: 1rem;
    margin: 0 .5rem;
    opacity: .1;
}

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #00393b;
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.ir-arriba:hover,
.ir-arriba:focus {
    text-decoration: none;
    color: #99cc33;
}


/*# sourceMappingURL=estilos.css.map */